<tr class=noteInfo data-note-id="<%= note.id %>" data-site-id="<%= site_id %>">
  <td class=noteContentCell>
    <div class="note-table-item">
      <div class="noteContent">
        <%= note.content %>
      </div>
      <div class="noteComment note-view-comment" data-note-id="<%= note.id %>"><%= raw note.comment %></div>
    </div>
  </td>
</tr>