<tr class=noteInfo data-note-id="<%= note.id %>" data-site-id="<%= site_id %>">
  <td class=noteContentCell><div class="noteContent"><%= note.content %></div></td>
  <td><div class="noteComment" data-note-id="<%= note.id %>"><%= raw note.comment %></div></td>
</tr>