<script src="/bootstrap/js/bootstrap.min.js"> </script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

<div class="row-fluid">
  <div class="span4 offset4 centered" id="webtrails-title">
    <h1>WebTrails</h1>
    <div>
      Not <%= @user.email%>? <a href="/users/new">login as yourself</a>
    </div>
  </div>
</div>
<div class="row-fluid" id="create-trail-container">
  <div class="input-append span8 offset2 centered">
    <input class="input-large" id="appendedInputButton" type="text" placeholder="Trail Name">
    <button class="btn btn-primary" type="button">Create!</button>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset4 centered" id="trails-display">
    <%- @trails.each_with_index do |trail,i|%>
        <a class="" href="<%= request.protocol + (request.port.blank? ? request.host : request.host_with_port) %>/trails/<%= trail.id%>">
          <div class= "row-fluid">
            <div class="span1"></div>
            <div class="trail-container span10 <%= "last-trail-container" if i == @trails.length - 1%>">
              <div class="row-fluid">
                <span class="trail-name centered span4"><%= trail.name %></span>
                <span class="favicon-display span8">
                    <%- @favicon_urls[i].each_with_index do |favicon_url, i| %>
                      <img src="<%= favicon_url %>" class="siteFavicon"/>
                    <%- end %>
                </span>
              </div>
            </div>
          </div>
        </a>
      <%- end %>
  </div>
</div>
