<script src="/bootstrap/js/bootstrap.min.js"> </script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="/javascripts/index.js"> </script>

<div class="row-fluid">
  <div class="span4 offset4 centered" id="webtrails-title">
    <h1>WebTrails</h1>
    <div>
      Logged in as <%=@user.email%>. <a href="/users/sign_out">logout</a>
    </div>
  </div>
</div>
<div class="centered" id="create-trail-container">
  <div class="input-append centered control-group" id="trail-create-control-group">
    <input class="input-large" id="trail-name" type="text" placeholder="Trail Name">
    <button class="btn btn-primary" type="button" id="trail-create-button">Create!</button>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 centered" id="trails-display">
    <%- @trails.each_with_index do |trail,i|%>
        <a class="" href="<%= request.protocol + (request.port.blank? ? request.host : request.host_with_port) %>/trails/<%= trail.id%>">
          <div class= "row-fluid">
            <div class="span1"></div>
            <div class="trail-container span10 <%= "last-trail-container" if i == @trails.length - 1%>">
              <div class="trail-name centered">
                <h3><%= trail.name %></h3>
              </div>
              <div class="sites-display-container" id="sites-display-container-<%= i %>" data-index="<%= i %>">
                <div class="sites-display">
                    <%- @favicon_urls[i].each_with_index do |favicon_url, i| %>
                      <div class="site-display">
                        <a class="site-link" href="<%= request.protocol + (request.port.blank? ? request.host : request.host_with_port) %>/trails/<%= trail.id%>#<%= i%>">
                          <img src="<%= favicon_url %>" class="siteFavicon"/>
                          <span><%= trail.sites[i].title%></span>
                          <%- trail.sites[i].notes.each_with_index do |note, i| %>
                            <div class="note-container">
                              <div class="note-content"><%= note.content%></div>
                              <% if note.comment != ""%>
                                <div class="note-comment"><%= note.comment%></div>
                              <% end %>
                            </div>
                          <%- end %>
                        </a>
                      </div>
                    <%- end %>
                </div>
              </div>
            </div>
          </div>
        </a>
      <%- end %>
  </div>
</div>