<script type="text/javascript">
  var siteIDs = [ <%- @favicon_urls_with_ids.each do |favicon_url_and_id|%>
    <%= favicon_url_and_id[1] %>,
  <%- end %>
  ];
</script>
<% if current_user %>
  <span class="userName"><%= current_user.email %></span>
<% else %>
   <a class="userName" href="/">Login or Signup</a>
<% end %>
</div>
<div class=siteDiesplayDiv>
  <%- @sites.each_with_index do |site,i| %>
  <iframe src=http://localhost:3000/sites/<%= site.id %> class="siteDisplay <%= i==0 ? "currentSite":"notCurrent"  %>" />
  <%- end %>
</div>
<div id="trailDisplay">
    <%- @favicon_eurls_with_ids.each do |favicon_and_id| %>
      <div class=siteFavicon id="<%= favicon_and_id[1] %>">
        <img src="<%= favicon_and_id[0] %>"/>
      </div>
    <%- end %>
    <span id="urlText"></span>
    <input type="button" class="navigateButton" id="nextNote" value="Next Note">
    <input type="button" class="navigateButton" id="nextSite" value="Next Site">
</div>
