<script type="text/javascript">
  var requestUrl = "<%= Webtrails::Application::AJAX_REQUEST_URL %>";
  var siteIDs = [ <%- @favicon_urls_with_ids_and_titles.each do |favicon_url_and_id|%>
    "<%= favicon_url_and_id[1] %>",
  <%- end %>
  ];
  var trailID = <%= @trail.id %>;
  var editAccess = <%= @editAccess %>;
  var trailDisplayHash = <%= raw @trail_display_hash.to_json %>;
</script>
<script src="/bootstrap/js/bootstrap.min.js"> </script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!--<div class="row-fluid">-->
    <div class="siteDisplayDiv">
      <!--<%- @sites.each_with_index do |site,i| %>-->
        <!--<iframe id=<%= site.id %> data-site-id="<%= site.id %>" class="siteDisplay notCurrent"></iframe>-->
      <!--<%- end %>-->
      <% if @sites.empty?%>
        <h2 class="no-trails-placeholder"> No sites added to this trail. Get to trailing some websites with the Chrome Extension before you can come here to view them!</h2>
       <% end %>
    </div>
    <div id="siteClickDivs"></div>

    <div class="noteViewer">
          <%- i = 0  %>
          <%- @site_note_hash.each do |site_id, notes| %>
          <table class="noteWrapper table table-bordered" data-site-id="<%= site_id %>">
            <tr class="note-list-header click-to-change-site" data-site-id="<%= site_id %>">
              <th colspan="2">
                <img class="faviconImage" src="<%= @favicon_urls_with_ids_and_titles[i][0] %>" />
                <span><%= @sites[i].title%></span>
              </th>
            </tr>
                <%- notes.each do |note| %>
                  <%= render :partial => "note_row", :locals => {:note => note, :site_id => site_id} %>
                <%-	end %>
            <%- i += 1 %>
          <%- end %>
      </table>
    </div>
<!--</div>-->
<div class="viewTrailToolbar">

<a class="btn btn-mini navigateButton" id="goToAll" href="<%= Webtrails::Application::AJAX_REQUEST_URL %>" target="_blank">All Trails</a>
<button class="btn btn-mini chevronButton" id="previousSite"> <i class="icon-chevron-left"> </i> </button>
<div class="siteFaviconsHolder">
  <div class="siteFavicons">
      <%- @favicon_urls_with_ids_and_titles.each_with_index do |favicon_id_and_title,i| %>
          <div class="faviconContainer favicon<%= favicon_id_and_title[1]%>">
            <img class="faviconImage click-to-change-site" src="<%= favicon_id_and_title[0] %>" id="favicon<%= favicon_id_and_title[1] %>" data-site-id="<%= favicon_id_and_title[1] %>" data-ot="<%= @sites[i].title%>" data-ot-delay="0" data-ot-tip-joint="bottom" data-ot-style="dark" data-site-url="<%= @sites[i].url%>" data-site-index="<%= i %>"/>
            <!--<img src="/images/loading_small.gif" class="faviconLoading" id ="loading-<%= favicon_id_and_title[1]%>"/>-->
          </div>
      <%- end %>
  </div>
</div>
<button class="btn btn-mini chevronButton" id="nextSite"> <i class="icon-chevron-right"> </i> </button>

<button class="btn btn-mini navigateButton" id="goToSite">Visit Site</button>
<button class="btn btn-danger btn-mini navigateButton" id="removeSite"><i class="icon-trash"> </i> Remove</button>

<button class="btn btn-info navigateButton" id="previousNote">Previous</button>
<button class="btn btn-success navigateButton" id="nextNote"><b>Next</b></button>
<span class="note-count navigateButton">loading...</span>
<button id="showAllSitesButton" class="btn btn-warning navigateButton showList">Show All Sites</button>
<button class="btn btn-warning navigateButton showList" id="showNoteList" href="#">Research View</button>

</div>
