<script type="text/javascript">
  var siteIDs = [ <%- @favicon_urls_with_ids.each do |favicon_url_and_id|%>
    <%= favicon_url_and_id[1] %>,
  <%- end %>
  ];
</script>
<div class=siteDisplayDiv>
  <%- @sites.each_with_index do |site,i| %>
    <iframe src=http://localhost:3000/sites/<%= site.id %> id=<%= site.id %> class="siteDisplay <%= i==0 ? "currentSite":"notCurrent"  %>"></iframe>
  <%- end %>
</div>
<div id="trailDisplay">
    <%- @favicon_urls_with_ids.each do |favicon_and_id| %>
      <div class=siteFavicon id="<%= favicon_and_id[1] %>">
        <img src="<%= favicon_and_id[0] %>"/>
      </div>
    <%- end %>
    <span id="urlText"></span>
    <input type="button" class="navigateButton" id="nextNote" value="Next Note">
    <input type="button" class="navigateButton" id="nextSite" value="Next Site">
</div>
