<script type="text/javascript">
  var siteIDs = [ <%- @favicon_urls_with_ids.each do |favicon_url_and_id|%>
    <%= favicon_url_and_id[1] %>,
  <%- end %>
  ];
</script>
<div class=siteDisplayDiv>
  <%- @sites.each_with_index do |site,i| %>
    <iframe src=http://localhost:3000/sites/<%= site.id %> id=<%= site.id %> class="siteDisplay <%= i==0 ? "currentSite":"notCurrent"  %>"></iframe>
  <%- end %>
</div>
<div class="trailDisplay">
    <%- @favicon_urls_with_ids.each do |favicon_and_id| %>
      <div class="siteFavicon" id="<%= favicon_and_id[1] %>">
        <img class="faviconImage" src="<%= favicon_and_id[0] %>"/>
      </div>
    <%- end %>
    <span id="urlText"></span>
    <button class="navigateButton" id="nextNote">Next Note</button>
    <button class="navigateButton" id="nextSite">Next Site</button>
    <input type="checkbox" class="presentationCheckbox" id="presentationMode">

    <div class=checkBoxLabel>Presentation Mode</div>
</div>
