<script type="text/javascript">
  var requestUrl = "<%= Webtrails::Application::AJAX_REQUEST_URL %>";
  var siteIDs = [ <%- @favicon_urls_with_ids_and_titles.each do |favicon_url_and_id|%>
    "<%= favicon_url_and_id[1] %>",
  <%- end %>
  ];
  var trailID = <%= @trail.id %>;
  var editAccess = <%= @editAccess %>;
  var trailDisplayHash = <%= raw @trail_display_hash.to_json %>;
</script>
<script src="/bootstrap/js/bootstrap.min.js"> </script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <div class="siteDisplayDiv" class="loading">
      <% if @sites.empty?%>
        <h2 class="no-trails-placeholder"> No sites added to this trail. Get to trailing some websites with the Chrome Extension before you can come here to view them!</h2>
       <% end %>
    </div>
    <div id="siteClickDivs"></div>

    <div class="noteViewer">
      <div class="note-viewer-toolbar-mouseover-target"></div>
      <div class="note-viewer-toolbar">
        <input type="button" class="show-full-comments btn btn-xs btn-primary" value="Show Full Comments"/>
      </div>
      <div class="note-viewer-tables">
        <%- i = 0  %>
        <%- @site_note_hash.each do |site_id, notes| %>
            <table class="noteWrapper table table-bordered" data-site-id="<%= site_id %>">
              <tr class="note-list-header-row click-to-change-site" data-site-id="<%= site_id %>">
                <th colspan="2" class="note-list-header">
                  <div class="note-header-wrapper">
                    <img class="faviconImage" src="<%= @favicon_urls_with_ids_and_titles[i][0] %>" />
                    <span><%= @sites[i].title%></span>
                  </div>
                </th>
              </tr>
              <%- notes.each do |note| %>
                  <%= render :partial => "note_row", :locals => {:note => note, :site_id => site_id} %>
              <%-	end %>
              <%- i += 1 %>
        <%- end %>
        </table>
      </div>
    </div>
    <nav class="navbar navbar-justified viewTrailToolbar navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!--<div class="collapse navbar-collapse">-->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                      <a class="navbar-link go-to-trails glyphicon glyphicon-user" href="<%= Webtrails::Application::AJAX_REQUEST_URL %>" target="_blank">
                      </a>
                    </li>
                    <li>
                        <p class="trail-name navbar-text">
                          <%= @trail.name %>
                        </p>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group nav-group">
                          <button class="btn btn-xs navbar-btn" id="goToSite">Visit Site</button>
                          <button class="btn btn-danger btn-xs navbar-btn nav-group" id="removeSite">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group nav-group">
                          <button class="btn btn-info navbar-btn" id="previousNote">Previous</button>
                          <button class="btn btn-success navbar-btn" id="nextNote"><b>Next</b></button>
                        </div>
                    </li>

                    <li>
                        <button id="show-all-notes-button" class="btn btn-info btn-sm toggle inactive navbar-btn nav-group"> Show All Notes </button>
                    </li>

                    <li>
                        <button id="showAllSitesButton" class="btn btn-warning btn-sm showList navbar-btn nav-group">Show All Sites</button>
                    </li>

                    <li>
                        <button class="btn btn-warning btn-sm showList navbar-btn nav-group" id="noteViewMode" href="#">Research View</button>
                    </li>
                </ul>
                <div class="siteFaviconsHolder">
                  <div class="siteFavicons">
                    <%- @favicon_urls_with_ids_and_titles.each_with_index do |favicon_id_and_title,i| %>
                        <div class="faviconContainer favicon<%= favicon_id_and_title[1]%>">
                          <img class="faviconImage click-to-change-site" src="<%= favicon_id_and_title[0] %>" id="favicon<%= favicon_id_and_title[1] %>" data-site-id="<%= favicon_id_and_title[1] %>" data-ot="<%= @sites[i].title%>" data-ot-delay="0" data-ot-tip-joint="bottom" data-ot-style="dark" data-site-url="<%= @sites[i].url%>" data-site-index="<%= i %>"/>
                        </div>
                    <%- end %>
                  </div>
                <!--</div>-->
            </div>
        </div>
    </nav>
  </div>
</div>
