<script type="text/javascript">
  var siteIDs = [ <%- @favicon_urls_with_ids_and_titles.each do |favicon_url_and_id|%>
    "<%= favicon_url_and_id[1] %>",
  <%- end %>
  ];
</script>
<div class=siteDisplayDiv>
  <%- @sites.each_with_index do |site,i| %>
    <iframe src=<%= Proto1::Application::AJAX_REQUEST_URL %>/sites/<%= site.id %> id=<%= site.id %> class="siteDisplay <%= i==0 ? "currentSite":"notCurrent"  %>"></iframe>
  <%- end %>
</div>

<div class="noteLists">
  <%- @site_note_hash.each do |site_id, note_contents_and_id| %>
      <div class="noteList" id=site<%= site_id %>>
        <%- note_contents_and_id.each do |content, id| %>
            <div class="noteWrapper">
                <div class="noteContent" id="note<%= id %>"><%= content %></div>
            </div>
        <%-	end %>
      </div>
  <%- end %>
</div>
<div class="trailDisplay">
<button class="leftNavigateButton navigateButton" id="previousSite">Previous Site</button>
<button class="leftNavigateButton navigateButton" id="nextSite">Next site</button>
<div class="siteFavicons">
    <%- @favicon_urls_with_ids_and_titles.each_with_index do |favicon_id_and_title,i| %>
      <div class="siteFavicon tooltip" id="favicon<%= favicon_id_and_title[1] %>">
        <img class="faviconImage" src="<%= favicon_id_and_title[0] %>"/>
        <span class="siteTitleDisplay"><%= favicon_id_and_title[2] %></span>
      </div>
    <%- end %>
</div>
<span id="urlText"></span>
<button class="rightNavigateButton navigateButton" id="showNoteList" href="#">Show note list</button>
<button class="rightNavigateButton navigateButton" id="nextNote">Next note</button>
<button class="rightNavigateButton navigateButton" id="previousNote">Previous Note</button>
<input type="checkbox" class="turnOffComments" id="turnOffCommentsCheckbox">

<div class=checkBoxLabel>Turn off comments</div>
</div>
